<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Lunatech Assessment</display-name>
	<description>
        Assessment for potential new hires at Lunatech.
    </description>

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.izmar.lunatech.Main</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>com.izmar.lunatech.Query</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ReportsServlet</servlet-name>
		<servlet-class>com.izmar.lunatech.Reports</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Auto</servlet-name>
		<servlet-class>com.izmar.lunatech.AutoComplete</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Auto</servlet-name>
		<url-pattern>/Auto</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReportsServlet</servlet-name>
		<url-pattern>/reports</url-pattern>
	</servlet-mapping>
</web-app>